body{
	color: #444444; 
}
.home-content{
	background-color: #def9f4;
}

.home-text{
	color: #232122;
	font-family: Opinio;
	font-size: 30px;
	text-align: right;
	text-shadow: 3px 3px 3px #f7b9f5;
}

#principal-text{
	font-family: BroRintto;
	font-size: 130px;
	text-align: center;
	text-shadow: 5px 10px 3px #f7b9f5;
}

#home-image{
	width: 80%;
} 


#user-pic{
	background-image: url("../images/default-user.png");
	background-size: cover;
	border: 1px black solid;
	height: 150px;
	width: 150px;
} 
#product-pic{
	background-image: url("../images/image-not-available.png");
	background-size: cover;
	border: 1px black solid;
	height: 150px;
	width: 150px;
} 

textarea{
	resize: none;	
}
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#deefff+0,98bede+100;Blue+3D+%2310 */
